@font-face {
    font-family: my_font;
    src: url('fonts/time.ttf');
    

}
@font-face {
     font-family: denar;
    src: url('fonts/denar.ttf');
}
@font-face {
     font-family: sreca;
    src: url('fonts/lucky_charm.ttf');
}
   

body {
    font-family: my_font;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


nav {
    height: 60px;
    width: 70%;
    position: fixed;
    background-color: #C3C3C3;
}

a {
    text-decoration: none;
    font-size: 30px;
}

a:visited {
    color: #668E39;
}

a:hover {
    color: #96B566; 
    font-size: 28px;
}

a:link {
    color: #668E39;
}

a:active {
    color: #F6FF97;
}

.nav-logotip {
    text-align: center;
    float: left;
    padding: 10px;
    padding-left: 30px;
    list-style-type: none;
}

.nav-reg {
    text-align: center;
    float: right;
    padding: 10px;
    padding-right:30px;
    list-style-type: none;
}

.reg:hover {
    padding-left: 11px;
}

.nav-vpis {
    text-align: center;
    float: right;
    padding: 10px;
    padding-right: 30px;
    list-style-type: none;
}


header {
    height: 475px;
    width: 100%;
    padding-top: 70px;
}


.right-landing {
    height: 100%;
    width: 25%;
    float:right;
}


.header-text1 {
    width: 80%;
    float: right;
}


.p-text1 {
    width: 80%;
    float: right;
    font-size: 21px;
}

.kocka {
    font-family: sreca;
    float: right;
    width: 80%;
    font-size: 35px;
    text-align: center;
    padding-top: -20px;
}

.left-landing {
    height: 450px;
    padding-left: 2%;
    width: 73%;
    float: left;
}

.left-landing img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.img-cont {
    width: 100%;
    height: auto;
}

.info-intro {
    background-color: #BCE27F;
}

.info-intro-p {
    background-color: #BCE27F;
    font-size: 22px;
}

.subcont-info-intro {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.info-intro2 {
    text-align: center;
}

.info-intro2-p {
    text-align: center;
    font-size: 22px;   
}

.subcont-info-intro2 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.info-intro3 {
    background-color: #C3C3C3;
    text-align: center;
}

.info-intro3-p {
    background-color: #C3C3C3;
    text-align: center;
    font-size: 22px;   
}

.subcont-info-intro3 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}



footer {
    width: 100%;
    height:200px;
}

h2 {
    text-align: center
}


.glifikon-telefon {
    float: left;
    width: 33%;
    padding-top: 20px;
}

.glifikon-telefon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glifikon-mail {
    float: left;
    width: 33%;
    padding-top: 20px;
}

.glifikon-mail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glifikon-fb{
    float: left;
    width: 33%;
    padding-top: 20px;
}

.glifikon-fb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kontakt-glif a {
    float: left;
    width: 33%;
    padding-top: 20px;
}

.copyright {
    float: left;
    width: 100%;
    text-align: center;
}

.txt {
    width: 33%;
    float: left;
}

.txt1 {
    width: 100%;
}