{% load static %}
<!doctype html>

<html lang="sl">
<head>
  
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <title>Kalkulator stroškov plošča</title>
  <meta name="description" content="Kalkulator stroškov dashboard">
  <meta name="author" content="Stoklas Nac">
  <link rel="stylesheet" type="text/css" href="{% static 'kalkuta/odlivi.css' %}" media="screen" />
</head>

<body>
    <div class="nav_left">
        {% if user.is_authenticated %}
        <span class="header-links">Pozdravljen, {{ user.username }}.<a href="{% url 'logout' %}" style="text-decoration: none; color: blue; padding-left: 30px"> IZPIŠI ME</a></span>

        {% else %}
        {get_template("landing")}
        {% endif %}

        <nav class="dash_main_nav">
            <a class="nav cur" href="pregled">PREGLED</a>
            <hr>
            <a class="nav" href="polog">POLOG</a>
            <hr>
            <a class="nav" href="strosek"  style="
    color: #3D5AFE; 
    border-style: hidden hidden hidden solid;
    border-width: 20px"
            >STROŠEK</a>
            <hr>
            <a class="nav" href="cilji">CILJI</a>
            
        </nav>
                <p style="padding-left:50px;padding-top: 20px; font-size: 22px;">Trenutno stanje: {{ trenS }}€</p>
                    <hr>
                <p style="padding-left:50px;padding-top: 20px; font-size: 22px;"><a style="color: green">Pologi</a> ta mesec: {{ pologi }}€</p>
                    <hr>
                <p style="padding-left:50px;padding-top: 20px; font-size: 22px;"><a style="color: red">Stroski</a> ta mesec: {{ stroski_mesec }}€</p>
    </div>
    <div class="dash_top_div">
        <div class="dash_top_div_cont">
            <a class="puscica levodesno"   href="?q=-1">&lArr;</a>
            <div class="puscica mesecleto" style="width: 200px;">
                <p>{{ mesec_danes }} {{ leto_danes }}</p>
            </div>
            <a class="puscica levodesno"  href="?q=1">&rArr;</a>
        </div>
    </div>
    <div class="dash_right_div">
        <div class="dash_right_dva">
            <div class="odliv">
                
            DODAJ STROŠEK
            <form class="obrazec_priliv" name="dodaj_strosek" method="post">
                {% csrf_token %}
              <div class="container">
                  
                <input class="input" type="number" step="0.01" min="0" placeholder="Vnesi višino stroška [€]" name="strosek_visina" required>
                
                <input type="submit" value="Dodaj strošek" onclick="validate_strosek()">
      
            </div>
            </form>
            </div>
        </div>
        <div class="dash_right_tri">
            <div class="pregled_trans">
                NEDAVNE TRANSAKCIJE
            </div>
            <div class="transakcije">
                {% for i in stroski %}
                <div class="trans">
                    <p>{% if i.tip == 0 %}<p style="color: red">Strosek</p>{% else %}<p style="color: green">Polog</p>{% endif %}</p><p>{{ i.visina }}€</p>
                    <p> Datum: {{ i.datum }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="dash_middle_div">
        <div class="action_cont">            
            <div class="naslov_cilj" style="text-align: center; font-size: 35px">
                MOJI STROŠKI
            </div>

            {% for i in stroski_vsi %}
            <div id={{i.id}} class="cilj_main">
                    <p><span style="color: red">| Strosek | </span> Višina stroska: {{ i.visina }}€.Datum: {{ i.datum }}</p>
            </div>
                {% endfor %}
        </div>
    </div>
    <footer>
      	<p>Copyright &copy; Kalkuta 2016</p>
    </footer>
    <script src="{% static 'kalkuta/js/odlivi.js' %}"></script>
</body>